  body {
    background-color: #F1F7E7;
  }
  hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 3px;
    border-color: grey;
  }
  h1{
    color: #57CC99;
  }
  h3{
    color: #66BFBF;
  }
